.albumListSongs {
  background: #000;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
}

.musicOptions {
  padding: 0 1rem;
}

.playMusic {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  & audio {
    outline: none;
  }
}

.audioReproducer {
  padding: 0 10px;
}
